# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Werkzeug
psycopg2

# ----------------------
# Production Server
# ----------------------
gunicorn

alembic
Click
dnspython
idna
itsdangerous
Mako
MarkupSafe
python-editor
six
