{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Project 1 </h1>
<p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Perferendis nesciunt culpa quia sint velit fuga dolores adipisci numquam nihil in deserunt iste, 
     natus ipsum mollitia accusantium ipsa voluptatum architecto maiores saepe? Rerum officiis rem, ad 
     dignissimos dolores provident et similique. Quia, quas ad officiis aspernatur adipisci inventore amet 
     itaque consectetur, porro rerum dolorem quae libero quod non doloremque labore molestias consequuntur? 
     <br/>
     Inventore assumenda numquam obcaecati labore eius mollitia minima magnam quasi temporibus expedita, sunt 
     libero necessitatibus fugit suscipit quas debitis animi accusantium, id aperiam exercitationem nobis! 
     Asperiores modi odio, dolorem distinctio, tempore voluptatibus nobis sint tempora laborum dicta, molestias 
     rerum autem. Vero incidunt dolorum optio reprehenderit doloribus tempora a perspiciatis quo veritatis. Sint 
     debitis magni sit? Minus consectetur cupiditate dolore sequi quisquam dicta necessitatibus qui culpa pariatur, 
     similique doloremque! Est dolor dolores minima. Repudiandae id laborum rerum accusantium blanditiis molestias 
     fuga esse quam voluptatem odit reiciendis ipsa, animi tempora sequi!<br/>
.</p>
{% endblock %}
